[submodule "submodules/csmpi"]
	path = submodules/csmpi
	url = git@github.com:TauferLab/Src_CSMPI.git
[submodule "submodules/dumpi_to_graph"]
	path = submodules/dumpi_to_graph
	url = git@github.com:TauferLab/Src_dumpi_to_graph.git
