[submodule "submodules/sst-dumpi"]
	path = submodules/sst-dumpi
	url = https://github.com/TauferLab/sst-dumpi.git
[submodule "submodules/PnMPI"]
	path = submodules/PnMPI
	url = https://github.com/LLNL/PnMPI.git
[submodule "submodules/Pluto"]
	path = submodules/Pluto
	url = https://github.com/TauferLab/Pluto
[submodule "submodules/dumpi_to_graph"]
	path = submodules/dumpi_to_graph
	url = https://github.com/TauferLab/dumpi_to_graph
[submodule "submodules/CSMPI"]
	path = submodules/CSMPI
	url = https://github.com/TauferLab/CSMPI.git
